.modal{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color:rgba(39, 38, 38, 0.758);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content{
    display: flex;
    flex-direction: column;
    background-color: var(--bgc);
    padding: 12px;
    align-items: center;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.modal-content>input{
    width: 100%;
    margin: 12px 0;
    height: 2rem;
    padding: 5px;
}

.break{
    text-align: center;
}
.break-type{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.short-break{
    display: flex;
    align-items: center;
    gap: 2px;
}

.short{
    accent-color:1px solid var(--primary-color);
}